/* Color variables */
:root {
  --pine: #0c322c;
  --midnight: #192072;
 
  --jungle-160: var(--pine);
  --jungle-140: #025937;
  --jungle-120: #008657;
  --jungle: #30ba78;
  --jungle-80: #42d29f;
  --jungle-60: #83e1be;
  --jungle-40: #c0efde;
  --jungle-20: #eafaf4;

  --persimmon-160: #47190d;
  --persimmon-140: #8e2810;
  --persimmon-120: #bd3314;
  --persimmon-100: #ff5a2b;
  --persimmon: #fe7c3f;
  --persimmon-60: #ffb184;
  --persimmon-40: #ffd3bd;
  --persimmon-20: #ffefe9;

  --waterhole-160: #0a112b;
  --waterhole-140: var(--midnight);
  --waterhole-120: #0b41b7;
  --waterhole: #2453ff;
  --waterhole-80: #3c8eef;
  --waterhole-60: #81aefc;
  --waterhole-40: #c8dafc;
  --waterhole-20: #e6edfe;

  --mint-160: var(--pine);
  --mint-140: #01564a;
  --mint-120: #008878;
  --mint-100: #00bda7;
  --mint-80: #38d5b4;
  --mint: #90ebcd;
  --mint-40: #bff1ea;
  --mint-20: #eafaf8;

  --fog-160: #1d1d1d;
  --fog-140: #3e3e3e;
  --fog-120: #525252;
  --fog-100: #6f6f6f;
  --fog-80: #999999;
  --fog-60: #bababa;
  --fog-40: #dcdbdc;
  --fog: #efefef;

  --background: hsl(240, 18%, 20%);
  --bg-125: hsl(240, 18%, 35%);
  --bg-120: hsl(240, 18%, 30%);
  --bg-90: hsl(240, 18%, 15%);

  --primary: var(--jungle-80);
  --primary-bg: var(--jungle-80);
  --primary-hover: #121316;
  --secondary-hover: #dbeaff;
  --body-text: #FFFFFF;

  --grey-95: #eeeff4;
  --grey-91: #DCDEE7;
  --grey-82: #B3C1D2;
  --grey-80: #BDBDBE;
  --grey-46: #6C6C76;

  --danger: #fa5e55;
  --danger-foreground: var(--persimmon-120);
  --danger-background: var(--grey-46);

  --success-foreground: var(--pine);
  --success-background: var(--jungle-40);
  --chip-bg: var(--bg-120);

  --link-color: var(--waterhole-60);
}

::-webkit-scrollbar {
  width: 8px !important;
  height: 8px !important;
}

::-webkit-scrollbar-thumb {
  background-color: var(--fog-80) !important;
  border-radius: 8px;
}

::-webkit-scrollbar-track {
  background-color: var(--fog-140) !important;
}

.v-application {
  &.theme--dark {
    background-color: var(--background);

    .v-text-field .v-label.v-label--active {
      color: white !important;
    }
    .v-label {
      color: var(--fog);
      font-weight: 400;
    }
  }

  .v-application--wrap {
    max-width: 1800px;
    margin: 0 auto;
  }
}

body {
  font-family: 'Poppins', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "SUSE", sans-serif;
  font-optical-sizing: auto;
}

h1 {
  font-size: 24px;
  font-weight: 300;
  line-height: 36px;
  letter-spacing: 1.25px;
  text-align: left;
}

h2 {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5rem;
  letter-spacing: 1.25px;
  text-align: left;
  text-transform: uppercase;
  margin-bottom: 0.5rem;
}

h3 {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}

p {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
}

.border {
  border: 1px solid;
  padding: 20px;
}

.v-btn {
  letter-spacing: 0.75px !important;
  text-transform: none !important;
  font-size: 1rem !important;
  font-weight: 700 !important;
  border-width: 1px;
}

.btn-danger {
  color: var(--danger) !important;
  border-color: var(--danger) !important;
}

.v-btn.btn-primary {
  background-color: var(--primary-bg) !important;
  color: var(--background) !important;
  border-color: var(--primary) !important;
}

.v-btn.btn-secondary {
  color: var(--jungle-60) !important;
  border-color: var(--jungle-60) !important;
}

.v-chip.user-chip {
  position: relative !important;
  background-color: var(--chip-bg) !important;
  border: none !important;
  color: var(--body-text) !important;
}

.participants-list {
  list-style: none !important;
  display: flex !important;
  padding: 0 !important;
  gap: 0.5rem !important;
  flex-wrap: wrap;

  .admin-icon {
    width: 18px;
    height: 18px;
    margin-right: 5px;
  }
}

.content-block {
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.placeholder-block {
  display: flex;
  justify-content: center;
}

.placeholder-text {
  font-size: 40px;
  font-weight: 200;
  line-height: 60px;
  letter-spacing: 1.25px;
  text-align: left;
  color: var(--fog);
}

.dialog-content {
  background-color: var(--bg-120);
  padding: 20px;
  border-radius: 10px;

  h3 {
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 1rem;
  }

  p.dialog-text {
    margin: 1rem 0 2rem 0;
    margin-bottom: 1.5rem;
    font-size: 1rem;
  }

  .dialog-text__line {
    display: block;
    margin-bottom: 0.25rem;
    font-size: 1rem;
  }

  .dialog-controls {
    display: flex;
    justify-content: end;
    gap: 1rem;
  }
}

.v-btn__content .v-icon.v-icon--left.button-icon {
  font-size: 24px;
}