/* Color variables */
:root {
  --primary: #2F68DF;
  --primary-hover: #3472F7;
  --secondary-hover: #dbeaff;
  --body-text: #141419;

  --grey-95: #eeeff4;
  --grey-91: #DCDEE7;
  --grey-82: #B3C1D2;
  --grey-80: #BDBDBE;
  --grey-46: #6C6C76;

  --danger-foreground: #b30000;
  --danger-background: #fbe2dc;

  --success-foreground: #034A35;
  --success-background: #DAEFE9;
}


.v-application {
  max-width: 1600px;
  margin: 0 auto;
}

h1, h2, h3, h4, h5, h6, p, span {
  font-family: 'Poppins', sans-serif;
}

h1 {
  font-size: 24px;
  font-weight: 300;
  line-height: 36px;
  letter-spacing: 1.25px;
  text-align: left;
}

h2 {
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5rem;
  letter-spacing: 1.25px;
  text-align: left;
  text-transform: uppercase;
  margin-bottom: 0.5rem;
}

h3 {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 1.25px;
  text-align: left;
}

p {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
}

.border {
  border: 1px solid;
  padding: 20px;
}

.v-btn {
  letter-spacing: 0.75px !important;
  text-transform: none !important;
  font-size: 1rem !important;
}

.btn-danger {
  background-color: var(--danger-background) !important;
  color: var(--danger-foreground) !important;
  border-color: var(--danger-background) !important;
}

.v-btn.btn-primary {
  background-color: var(--primary) !important;
  color: white !important;
  border-color: var(--primary) !important;
}

.v-btn.btn-secondary {
  color: var(--primary) !important;
  border-color: var(--grey-91) !important;
  border-width: 2px !important;
}

.v-chip.user-chip {
  position: relative !important;
  background-color: var(--grey-95) !important;
  border: solid 1px var(--body-text) !important;
  color: var(--body-text) !important;
}

.participants-list {
  list-style: none !important;
  display: flex !important;
  padding: 0 !important;
  gap: 0.5rem !important;
  flex-wrap: wrap;

  .admin-icon {
    width: 18px;
    height: 18px;
    margin-right: 5px;
  }
}

.content-block {
  margin-top: 1rem !important;
  margin-bottom: 2rem !important;
}

.placeholder-block {
  display: flex;
  justify-content: center;
}

.placeholder-text {
  font-size: 40px;
  font-weight: 500;
  line-height: 60px;
  letter-spacing: 1.25px;
  text-align: left;
  color: var(--grey-80);
}

.dialog-content {
  background-color: white;
  padding: 20px;

  p {
    margin: 1rem 0 2rem 0;
  }

  .dialog-controls {
    display: flex;
    justify-content: space-between;
  }
}