/* Color variables */
$primary: #2F68DF;
$primary-hover: #3472F7;
$secondary-hover: #dbeaff;
$body-text: #141419;

$grey-95: #eeeff4;
$grey-91: #DCDEE7;
$grey-82: #B3C1D2;
$grey-46: #6C6C76;

$danger-foreground: #b30000;
$danger-background: #fbe2dc;

.v-application {
  max-width: 1800px;
  margin: 0 auto;
}

h1, h2, h3, h4, h5, h6, p, span {
  font-family: 'Poppins', sans-serif;
}

h1 {
  font-size: 24px;
  font-weight: 300;
  line-height: 36px;
  letter-spacing: 1.25px;
  text-align: left;
}

h2 {
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5rem;
  letter-spacing: 1.25px;
  text-align: left;
  text-transform: uppercase;
  margin-bottom: 0.5rem;
}

h3 {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 1.25px;
  text-align: left;
}

p {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
}

.border {
  border: 1px solid;
  padding: 20px;
}

.theme--light {
  &.v-btn {
    letter-spacing: 0.75px;
    text-transform: none;
  }

  &.btn-danger {
    background-color: $danger-background !important;
    color: $danger-foreground !important;
    border-color: $danger-background !important;
  }

  &.v-btn.btn-primary {
    background-color: $primary !important;
    color: white;
    border-color: $primary !important;
  }

  &.v-btn.btn-secondary {
    color: $primary;
    border-color: $grey-91 !important;
    border-width: 2px;
  }

  &.v-chip.user-chip {
    position: relative;
    background-color: $grey-95 !important;
    border: solid 1px $body-text;
    color: $body-text;
  }
}

.content-block {
  margin-bottom: 2rem;
}